# Telegram Bot
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_USER_IDS=your-telegram-chat-id

# NewsAPI (https://newsapi.org)
NEWSAPI_KEY=your-newsapi-key

# Google Calendar API (Service Account)
GOOGLE_PROJECT_ID=your-project-id
GOOGLE_PRIVATE_KEY_ID=your-private-key-id
GOOGLE_PRIVATE_KEY=your-private-key
GOOGLE_CLIENT_EMAIL=your-service-account-email
GOOGLE_CLIENT_ID=your-client-id
GOOGLE_CALENDAR_ID=the-email-of-your-google-calendar (e.g. info@vitavaga.com)

# Email (IMAP - IONOS)
EMAIL_USER=info@vitavaga.com
EMAIL_APP_PASSWORD=your-ionos-app-password
EMAIL_HOST=imap.ionos.es
EMAIL_PORT=993

# Weather (https://openweathermap.org/api)
OPENWEATHER_API_KEY=your-openweather-key
WEATHER_CITY=Madrid

# WhatsApp Business API (Meta)
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
